name: .NET Core
on: [push, pull_request]

env:
  DOTNET_VERSION: '5.0.100-preview.7.20366.6'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        runtime: ['ubuntu-x64', 'win-x64', 'osx-x64']

    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/.nuget/packages
          key: nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            nuget-
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
      - name: Install dependencies
        working-directory: ./QPM
        run: dotnet restore
      - name: Build ${{ matrix.runtime }}
        working-directory: ./QPM
        run: dotnet publish -r ${{ matrix.runtime }} -c Release
      - name: Artifact Upload ${{ matrix.runtime }}
        uses: actions/upload-artifact@v2
        with:
          name: QPM-${{ matrix.runtime }}
          path: QPM/bin/Release/net5.0/${{ matrix.runtime }}/publish/

  checks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/.nuget/packages
          key: nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            nuget-
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
      - name: Install dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: Test
        run: dotnet test --no-restore --verbosity normal
